.homeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 70px;

  font-size: 12px;
}

svg:active {
  opacity: 0.5;
}

.homeMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  width: 200px;
}

.startBtn {
  margin-top: 20px;
  padding: 10px 20px;

  font-size: 16px;
  font-weight: bold;

  text-align: center;

  cursor: pointer;

  border: 2px solid #333;
  border-radius: 5px;

  background-color: #fff;
}
.startBtn:hover {
  background-color: #ff7f7f;
  color: #fff;
}
.startBtn:active {
  background-color: #ffbebe;
}
